<div class="pure-g-r">
  <div class="pure-u">
    <div class="l-box">
      <h1>uploadstuffto.me</h1>
      <p>This is an image hosting site.</p>
      <%= render template: 'images/new' if user_signed_in? %>
    </div>
  </div>
</div>