<div class="pure-g-r">
  <div class="pure-u-1">
    <div class="l-box">
      <h1>uploadstuffto.me</h1>
      <p>This is an image hosting site. Only registered users may upload.</p>
      <%= render template: 'images/new' if user_signed_in? %>
    </div>
  </div>

  <% if user_signed_in? && current_user.images.count > 0 %>
    <div class="pure-u-1" id="my_recent_uploads">
      <div class="l-box">
        <h2>My recent uploads</h2>
        <%= render 'images/tiles', :images => @my_recently_uploaded %>
      </div>
    </div>
  <% end %>

  <div class="pure-u-1" id="recent_uploads">
    <div class="l-box">
      <h2><%= (user_signed_in?) ? "Everyone else's r" : 'R' %>ecent uploads</h2>
      <%= render 'images/tiles', :images => @recently_uploaded %>
    </div>
  </div>
</div>