<div class="l-box">
  <p>
    <strong>Title:</strong>
    <%= @album.title %>
  </p>

  <%#= link_to 'Edit', edit_album_path(@album) %>
  <%#= link_to 'Back', albums_path %>
</div>

<% if @album.has_images? %>
  <% @images.each do |image| %>
    <div class="l-box">
      <%= link_to image.file.url(:original, timestamp: false) do %>
        <%= image_tag(image.file.url(:original, timestamp: false)) %>
      <% end %>
    </div>
  <% end %>
<% end %>
