/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require purecss
 *= require purecss-addons
 */

.tiles .tile {
  float:   left;
  padding: 2px;
  margin:  2px;
  border:  2px solid #EEE;
}

.tile img {
  display: block;
  width: 200px;
  height: 200px;
}

.tile .small-img img {
  width:  70px;
  height: 70px;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.edit-mode-controls a {
  text-decoration: none;
}