/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require purecss
 *= require purecss-addons
 */

.tiles .tile {
  padding: 2px;
  margin:  2px;
  border:  2px solid #EEE;
}

.tile img {
  width: 200px;
  height: 200px;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.tile-block-context {
  width: 100%;
}

.table-row {
  display: table-row;
}

.table {
  display: table;
}

.edit-mode-tiles img {
  display: block;
}

.tile.checked {
  border-color:     #0078E7;
  background-color: #91C1ED;
}

.tile .small-img {
  min-width: 70px; /* Odd quirk */
  width:     70px;
  height:    70px;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.edit-mode-controls a {
  text-decoration: none;
}

.float-left {
  float: left;
}