$error-background:   #B20015;
$success-background: #06B22B;

$page-background:    #0F0F0F;
$input-background:   #3B3A37;

$menu-background:    #363E4A;
$menu-hover:         #3B3A37;

$tile-border-colour: #3B3A37;

$header-colour:      #E63D24;
$text-colour:        #BFBAA6;

$submit-button:      #E6E6E6;
$submit-button-text: #000000;

$flash-message:      #000000;