$warning-background: #B20015;
$success-background: #06B22B;

$page-background:    #020324;
$input-background:   #111842;

$menu-background:    #111842;
$menu-hover:         #4B5A71;

$tile-border-colour: #4B5A71;

$header-colour:      #B4BDA7;
$text-colour:        #FFDCE9;

$submit-button:      #E6E6E6;
$submit-button-text: #000000;