$warning-background: #B20015;
$success-background: #06B22B;

$page-background:  #000000;
$header-colour:    #7E8AA2;

$menu-background: #7E8AA2;
$menu-hover:      #FF9800;

$text-colour:      #FFFFFF;
$dark-text-colour: #263248;
$url-colour:       #7E8AA2;