@import 'colours';

h1, h2, h3 {
  color: $header-colour;
}

.pure-menu.pure-menu-open {
  background-color: $menu-background;
}

.pure-menu a, .pure-menu .pure-menu-heading {
  color: $text-colour;
}

.pure-menu li a:hover, .pure-menu li a:focus {
  background-color: $menu-hover;
}

body {
  color: $text-colour;
  background-color: $page-background;
}

body a {
  color: $header-colour;
}

.tiles .tile.checked {
  border-color:     $menu-hover;
  background-color: $menu-background;
}

.tiles .tile {
  border-color: $header-colour;
}