.tiles .tile {
  padding: 2px;
  margin:  2px;
  border:  2px solid;
}

.tile img {
  width:   200px;
  height:  200px;
  display: block;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.tile-block-context.table-cell {
  width: 100%;
}

.tile-block-context {
  width: 300px;
}

.table-row {
  display: table-row;
}

.table {
  display: table;
}

.edit-mode-tiles img {
  display: block;
}

.pure-g-r .tile img {
  width:  200px;
  height: 200px;
}

.tile .small-img, .tile .small-img img {
  min-width: 70px; /* Odd quirk */
  width:     70px;
  height:    70px;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.edit-mode-controls a {
  text-decoration: none;
}

.float-left {
  float: left;
}

.phone-nav.pure-menu.pure-menu-open {
  border: none;
}