@import 'colours';

h1, h2, h3 {
  color: $header-colour;
}

.pure-menu.pure-menu-open {
  background-color: $menu-background;
}

.pure-menu a, .pure-menu .pure-menu-heading {
  color: $text-colour;
}

.pure-menu li a:hover, .pure-menu li a:focus {
  background-color: $menu-hover;
}

body {
  color: $text-colour;
  background-color: $page-background;
}

body a {
  color: $header-colour;
}

.tiles .tile.checked {
  border-color:     $text-colour;
  background-color: $success-background;
}

.tiles .tile {
  border-color: $tile-border-colour;
}

.pure-form input[type], .pure-form input, .pure-form textarea {
  color:            $text-colour;
  background-color: $input-background;
  box-shadow:       none;
}

.pure-form input[type=submit] {
  background-color: $submit-button;
  color:            $submit-button-text;
}

.flash {
  color: $flash-message;
}

.flash.success {
  background-color: $success-background;
}

.flash.error {
  background-color: $error-background;
}