<div class="edit-mode-controls center l-box">
  <% if edit_mode? %>
    <a href="<%= url_for(params.except(:edit_mode)) %>" alt="Leave edit mode">
      <button class="pure-button s-margin">Leave edit mode</button>
    </a>
    <button class="pure-button s-margin">Select all</button>
    <button class="pure-button s-margin">Deselect all</button>
    <button class="pure-button s-margin">Delete</button>
    <button class="pure-button s-margin">Add to album</button>
  <% else %>
    <a href="<%= url_for(params.merge(:edit_mode => true)) %>" alt="Edit mode">
      <button class="pure-button s-margin">
        Edit mode
      </button>
    </a>
  <% end %>
</div>
