<div class="edit-mode-controls center l-box">
  <button class="pure-button s-margin">Edit mode</button>

  <button class="pure-button s-margin">Select all</button>
  <button class="pure-button s-margin">Deselect all</button>
  <button class="pure-button s-margin">Delete</button>
  <button class="pure-button s-margin">Add to album</button>
  <button class="pure-button s-margin">Leave edit mode</button>
</div>
