<p id="notice"><%= notice %></p>

<div>
  <%= link_to 'Edit', edit_image_path(@image) %> |
  <%= link_to 'Back', images_path %>
</div>

<div><%= image_tag @image.file.url, { id: 'fullsize_image' } %></div>
